:root {
  --brand-color: #0c6cf3;
}

body {
  font-family: Sans-Serif;
}

.title {
  color: var(--brand-color);
}


.mainTitle {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

